html,
body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.form__title--submit {
  border-radius: 30px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
  background: rgb(226, 112, 218);
  background: linear-gradient(176deg, rgb(215, 108, 218) 29%, rgb(187, 99, 220) 52%, rgba(172, 95, 220, 0.9473914566) 78%);
  margin: 15px 0 60px 0;
  width: 75%;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.form__title--submit:hover::after {
  opacity: 0.3;
}
.form__title--submit::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.53) 0px 3px 8px;
  background: linear-gradient(176deg, rgb(215, 108, 218) 29%, rgb(187, 99, 220) 52%, rgba(172, 95, 220, 0.9473914566) 78%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.form-menu__order {
  border-radius: 30px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
  background: rgb(226, 112, 218);
  background: linear-gradient(176deg, rgb(215, 108, 218) 29%, rgb(187, 99, 220) 52%, rgba(172, 95, 220, 0.9473914566) 78%);
  width: 50%;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.form-menu__order:hover::after {
  opacity: 0.3;
}
.form-menu__order::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.53) 0px 3px 8px;
  background: linear-gradient(176deg, rgb(215, 108, 218) 29%, rgb(187, 99, 220) 52%, rgba(172, 95, 220, 0.9473914566) 78%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.starter-menu__container,
.main-course-menu__container,
.dessert-menu__container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px;
  background-color: #FFFFFF;
  width: 100%;
}

.starter-menu__items,
.main-course-menu__items,
.dessert-menu__items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  border: 1px solid none;
  border-radius: 20px;
  margin: 10px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
}
.starter-menu__items--titles,
.main-course-menu__items--titles,
.dessert-menu__items--titles {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.starter-menu__items--titles p,
.main-course-menu__items--titles p,
.dessert-menu__items--titles p {
  margin: 0;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
.starter-menu__items--titles h4,
.main-course-menu__items--titles h4,
.dessert-menu__items--titles h4 {
  margin: 0;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.starter-menu__items--prices p,
.main-course-menu__items--prices p,
.dessert-menu__items--prices p {
  margin: 0;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.steps__details--item:hover {
  background-color: #F5EDFF;
  transition-duration: 0.3s;
}
.steps__details--item:hover i {
  color: #9356DC;
  transition-duration: 0.3s;
}

.fa-heart:hover,
.fa-heart:active {
  color: #FF79DA;
  font-weight: bold;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.starter {
  animation: anim 0.5s ease-in-out both;
}

.main-course {
  animation: anim 0.5s ease-in-out 0.5s both;
}

.dessert {
  animation: anim 0.5s ease-in-out 1s both;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.starter-menu__items .add,
.main-course-menu__items .add,
.dessert-menu__items .add {
  visibility: hidden;
  width: 0%;
}

.starter-menu__items:active .add,
.main-course-menu__items:active .add,
.dessert-menu__items:active .add,
.starter-menu__items:hover .add,
.main-course-menu__items:hover .add,
.dessert-menu__items:hover .add {
  visibility: visible;
  width: 25%;
  transition-duration: 0.5s;
}
.starter-menu__items:active .add.add i,
.main-course-menu__items:active .add.add i,
.dessert-menu__items:active .add.add i,
.starter-menu__items:hover .add.add i,
.main-course-menu__items:hover .add.add i,
.dessert-menu__items:hover .add.add i {
  animation: add 1s both;
}

@keyframes add {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 74px;
  background-color: #99E2D0;
  color: #ffffff;
  font-size: 20px;
  border-radius: 0 20px 20px 0;
  padding: 0;
}

.lds-ring {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  animation: lds-hide 3s both;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #FF79DA;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FF79DA transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes lds-hide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@media screen and (min-width: 767px) {
  .starter-menu__items:active .add,
  .main-course-menu__items:active .add,
  .dessert-menu__items:active .add,
  .starter-menu__items:hover .add,
  .main-course-menu__items:hover .add,
  .dessert-menu__items:hover .add {
    width: 15%;
  }
}
@media screen and (min-width: 991px) {
  .starter-menu__items:active .add,
  .main-course-menu__items:active .add,
  .dessert-menu__items:active .add,
  .starter-menu__items:hover .add,
  .main-course-menu__items:hover .add,
  .dessert-menu__items:hover .add {
    width: 10%;
  }
}
.header {
  border-bottom: 1px solid #ced4da;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.header__links {
  text-decoration: none;
  color: #000000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__links i {
  font-size: 20px;
  position: absolute;
  left: 20px;
}
.header__links__logo {
  width: 60%;
  height: 60%;
}

@media screen and (min-width: 767px) {
  .header__links img {
    width: 30%;
  }
  .form-menu__order {
    width: 25%;
  }
}
.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.footer img {
  width: 30%;
}
.footer__link {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.footer__link__item {
  padding: 5px 0;
}
.footer__link__item a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.footer__link__item i {
  padding-right: 5px;
}

@media screen and (min-width: 767px) {
  .footer img {
    width: 20%;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #F7F7F7;
}
.form__research {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  width: 100%;
  padding: 20px 0;
}
.form__research i {
  padding: 0 25px;
  font-size: 20px;
}
.form__research--input {
  border: none;
  background-color: #EAEAEA;
  width: 50%;
  font-size: 18px;
  font-weight: 700;
}
.form__research--input:focus {
  outline: none;
}
.form__title {
  width: 80%;
  text-align: center;
}
.form__title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 40px 40px 0 40px;
}
.form__title p {
  font-size: 17px;
  font-weight: 100;
}

.form-menu {
  display: flex;
  justify-content: center;
  padding: 25px 0 35px 0;
}

@media screen and (min-width: 767px) {
  .form__research--input {
    width: 20%;
  }
  .form__title--submit {
    width: 45%;
  }
}
@media screen and (min-width: 991px) {
  .form__research--input {
    width: 13%;
  }
}
.steps {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.steps h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.steps__details {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.steps__details span {
  background: #9356DC;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 2px;
  position: relative;
  left: 10px;
}
.steps__details--item {
  display: flex;
  align-items: center;
  border: 1px solid #F7F7F7;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #F7F7F7;
}
.steps__details--item i {
  padding: 5px 10px;
  font-size: 20px;
  color: #7E7E7E;
}
.steps__details--item p {
  padding: 5px 10px;
  font-size: 17px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  background-color: #F7F7F7;
}
.restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.restaurant__container {
  gap: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.restaurant__items {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000000;
  position: relative;
  border: 1px solid none;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
  border-radius: 20px;
}
.restaurant__items img {
  border-radius: 20px 20px 0px 0px;
  height: 190px;
  object-fit: cover;
}
.restaurant__items span {
  position: absolute;
  right: 5px;
  margin: 10px 5px;
  background-color: #99E2D0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 5px;
}
.restaurant__items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 20px;
}
.restaurant__items-container i {
  font-size: 25px;
  margin: 20px;
}
.restaurant__items-container--name {
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.restaurant__items-container--name h3 {
  margin: 0;
}
.restaurant__items-container--name p {
  margin: 5px 0;
}

@media screen and (min-width: 767px) {
  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .steps h2 {
    padding: 20px;
  }
  .steps__details--item p {
    padding: 5px;
  }
  .steps-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    justify-content: center;
  }
}
.restaurant {
  flex-direction: column;
  align-items: center;
}
.restaurant__container {
  max-width: 1400px;
  margin: auto;
}
.restaurant__items {
  width: 100%;
}

@media screen and (min-width: 991px) {
  .restaurant__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
  }
}
.banner img {
  height: 245px;
  object-fit: cover;
  width: 100%;
}

.menu {
  background-color: #F7F7F7;
  border-radius: 25px 25px 0px 0px;
  margin-top: -30px;
  position: relative;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  font-weight: 400;
}
.menu__title i {
  font-size: 25px;
}

.starter,
.main-course,
.dessert {
  padding: 10px 0;
}

.starter-menu__items,
.main-course-menu__items,
.dessert-menu__items {
  cursor: pointer;
}

.starter-menu__title,
.dessert-menu__title {
  padding-left: 10px;
}

.starter-menu__title h3,
.main-course-menu__title h3,
.dessert-menu__title h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 15px;
  margin: 5px 0;
}

.main-course-menu__title {
  padding-left: 40px;
}

.title-decoration {
  background-color: #99E2D0;
  height: 3px;
  width: 37px;
}

@media screen and (min-width: 767px) {
  .starter,
  .main-course,
  .dessert {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 991px) {
  .menu__title {
    gap: 20px;
    justify-content: center;
  }
  .menu__container {
    width: 80%;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
