//Utils
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/maps";

//Base
@import "./base/reset";
@import "./base/typography";

//Composants
@import "./composants/buttons";
@import "./composants/cards";

//Layout
@import "./layout/header";
@import "./layout/footer";
@import "./layout/forms";

//Pages
@import "./pages/home";
@import "./pages/page-1.scss";