.footer {
    background-color: $background-footer;
    display: flex;
    flex-direction: column;
    padding: 30px;

    & img {
        width: 30%;
    }

    &__link {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 0;

        &__item {
            padding: 5px 0;

            & a {
                color: $text-footer-color;
                text-decoration: none;
                font-family: $main-font;
            }

            & i {
                width: 7%;
            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, tablette)) {
    .footer img {
        width: 20%;
    }

    .footer__link__item i {
        width: 3%;
    }
}