.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $main-font;
    background-color: $background-menu;

    &__research {
        display: flex;
        justify-content: center;
        background-color: $background-research;
        width: 100%;
        padding: 20px 0;

        & i {
            padding: 0 25px;
            font-size: 20px;
        }

        &--input {
            border: none;
            background-color: $background-research;
            width: 50%;
            font-size: 18px;
            font-weight: 700;
        }

        &--input:focus {
            outline: none;
        }
    }

    &__title {
        width: 80%;
        text-align: center;

        & h2 {
            @include h2;
            margin: 40px 40px 0 40px;
        }

        & p {
            font-size: 17px;
            font-weight: 100;
        }
    }
}

.form-menu {
    display: flex;
    justify-content: center;
    padding: 25px 0 35px 0;
}

@media screen and (min-width: map-get($breakpoints, tablette)) {
    .form__research--input {
        width: 20%;
    }

    .form__title--submit {
        width: 45%;
    }
}

@media screen and (min-width: map-get($breakpoints, desktop)) {
    .form__research--input {
        width: 13%;
    }
}