.starter-menu__container, .main-course-menu__container, .dessert-menu__container  {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    
    margin: 10px;
    background-color: #FFFFFF;
    width: 100%;
}

.starter-menu__items, .main-course-menu__items, .dessert-menu__items {
    @include card-menu;

    &--titles {
        display: flex;
        flex-direction: column;

        & p {
            margin: 0;
            padding: 5px 0;
            @include p-card;
        }

        & h4 {
            margin: 0;
            padding: 5px 0;
            @include h4-card;
        }
    }

    &--prices p{
        margin: 0;
        padding: 5px 0;
        font-family: $main-font;
        font-weight: 600;
    }
}