.steps {
    display: flex;
    flex-direction: column;
    padding: 20px;

    & h2 {
        @include h2;
    }

    &__details {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        & span {
            @include step-number;
        }

        &--item {
            @include step-item;

            & i {
                padding: 5px 10px;
                font-size: 20px;
                color: #7E7E7E;
            }

            & p {
                padding: 5px 10px;
                font-size: 17px;
            }
        }
    }
}

.restaurant {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    background-color: $background-menu;

    & h2 {
        @include h2;
    }

    &__container {
        gap: 15px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__items {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: $text-color;
        position: relative;
        @include restaurant-card;

        & img {
            @include restaurant-img;
        }

        & span {
            @include new-restaurant;
        }

        &-container {
            @include restaurant-container;

            & i {
                font-size: 25px;
                margin: 20px;
            }

            &--name {
                font-family: $main-font;
                padding: 10px;

                & h3 {
                    margin: 0;
                }

                & p {
                    margin: 5px 0;
                }
            }
        }
    }
}


@media screen and (min-width: map-get($breakpoints, tablette)) {
    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
            padding: 20px;
        }

        &__details--item p {
            padding: 5px;
        }
    }

    .steps-container {
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 100%;
        justify-content: center;
    }
}

.restaurant {
    flex-direction: column;
    align-items: center;

    &__container {
        max-width: 1400px;
        margin: auto;
    }
    
    &__items {
        width: 100%;
    }
}


@media screen and (min-width: map-get($breakpoints, desktop)) {

    .restaurant__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 20px;
    }
}