.banner img{
    height: 245px;
    object-fit: cover;
    width: 100%;
}

.menu {
    background-color: $background-menu;
    border-radius: 25px 25px 0px 0px;
    margin-top: -30px;
    position: relative;

    &__title {
        display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    @include title-restaurant;

        & i {
            font-size: 25px;
        }
    }
}

.starter, .main-course, .dessert {
    padding: 10px 0;
}

.starter-menu__title, .dessert-menu__title {
    padding-left: 10px;
}

.starter-menu__title h3, .main-course-menu__title h3, .dessert-menu__title h3 {
    @include menu-title;
    margin: 5px 0;
}

.main-course-menu__title {
    padding-left: 40px;
}

.title-decoration {
    @include Title-decoration;
}


@media screen and (min-width: map-get($breakpoints, desktop)) {
   .menu__title {
    gap: 20px;
    justify-content: flex-start;
}

    .menu__container {
        width: 80%;
        margin: auto;
    }
    
}