@mixin button {
    border-radius: 30px;
    padding: 15px;
    font-family: $main-font;
    font-size: 17px;
    border: none;
    color: white;
    box-shadow: rgb(0 0 0 / 13%) 0px 3px 8px;
    background: $background-btn;
    background: $gradient;
}

@mixin h2 {
    font-family: $main-font;
    font-size: $font-size-title;
    font-weight: $font-weight-title;
}

@mixin step-number {
    background: $primary-color;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    color: $text-footer-color;
    font-size: 16px;
    font-family: $main-font;
    padding: 2px;
    position: relative;
    left: 10px;
}

@mixin step-item {
    display: flex;
    align-items: center;
    border: 1px solid $background-menu;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin-bottom: 20px;
    width: 90%;
    font-family: $main-font;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 10px;
    background-color: $background-menu;
}

@mixin restaurant-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $background-card;
    border-radius: 20px;
}

@mixin restaurant-card {
    border: 1px solid none;
    box-shadow: rgb(0 0 0 / 13%) 0px 3px 8px;
    border-radius: 20px;
}

@mixin restaurant-img {
    border-radius: 20px 20px 0px 0px;
    height: 190px;
    object-fit: cover;
}

@mixin new-restaurant {
    position: absolute;
    right: 5px;
    margin: 10px 5px;
    background-color: $background-color-new;
    color: $text-color-new;
    font-family: $main-font;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
}

@mixin banner-restaurant {
    height: 245px;
    object-fit: cover;
    width: 100%;
}

@mixin title-restaurant {
    font-family: $title-font;
    font-size: 16px;
    font-weight: 400;
}

@mixin card-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    border: 1px solid none;
    border-radius: 20px;
    margin: 10px;
    background-color: $background-card;
    box-shadow: rgb(0 0 0 / 13%) 0px 3px 8px;
}

@mixin h4-card {
    font-family: $main-font;
    font-size: 15px;
}

@mixin p-card {
    font-family: $main-font;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

@mixin menu-title {
    font-family: $main-font;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 15px;
}

@mixin Title-decoration {
    background-color: $tertiary-color;
    height: 3px;
    width: 37px;
}