$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$background-menu: #F7F7F7;
$background-research: #EAEAEA;
$background-footer: #353535;
$background-card: #FFFFFF;
$background-color-new: #99E2D0;
$background-animation-step: #F5EDFF;

$text-color: #000000;
$text-footer-color: #ffffff;
$text-color-new: #008766;

$background-btn: rgb(226, 112, 218);
$gradient: linear-gradient(176deg, rgba(215, 108, 218, 1) 29%, rgba(187, 99, 220, 1) 52%, rgba(172, 95, 220, 0.947391456582633) 78%);