html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1400px;
}

.form__title--submit {
  border-radius: 30px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  border: none;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
  background: rgb(255, 121, 218);
  background: -o-linear-gradient(281deg, rgb(255, 121, 218) 29%, rgb(147, 86, 220) 76%);
  background: linear-gradient(169deg, rgb(255, 121, 218) 29%, rgb(147, 86, 220) 76%);
  margin: 15px 0 60px 0;
  width: 75%;
}

.form-menu__order {
  border-radius: 30px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  border: none;
  color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
  background: rgb(255, 121, 218);
  background: -o-linear-gradient(281deg, rgb(255, 121, 218) 29%, rgb(147, 86, 220) 76%);
  background: linear-gradient(169deg, rgb(255, 121, 218) 29%, rgb(147, 86, 220) 76%);
  width: 50%;
}

.starter-menu__items, .main-course-menu__items, .dessert-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
}
.starter-menu__items--titles, .main-course-menu__items--titles, .dessert-menu__items--titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.starter-menu__items--titles p, .main-course-menu__items--titles p, .dessert-menu__items--titles p {
  margin: 0;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.starter-menu__items--titles h4, .main-course-menu__items--titles h4, .dessert-menu__items--titles h4 {
  margin: 0;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.starter-menu__items--prices p, .main-course-menu__items--prices p, .dessert-menu__items--prices p {
  margin: 0;
  padding: 5px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.steps__details--item:hover {
  background-color: #F5EDFF;
}
.steps__details--item:hover i {
  color: #9356DC;
}

.header {
  border-bottom: 1px solid #ced4da;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}
.header__links {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__links i {
  font-size: 20px;
  position: absolute;
  left: 20px;
}
.header__links__logo {
  width: 60%;
  height: 60%;
}

@media screen and (min-width: 767px) {
  .header__links img {
    width: 30%;
  }
  .form-menu__order {
    width: 25%;
  }
}
.footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}
.footer img {
  width: 30%;
}
.footer__link {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.footer__link__item {
  padding: 5px 0;
}
.footer__link__item a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.footer__link__item i {
  width: 7%;
}

@media screen and (min-width: 767px) {
  .footer img {
    width: 20%;
  }
  .footer__link__item i {
    width: 3%;
  }
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #F7F7F7;
}
.form__research {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EAEAEA;
  width: 100%;
  padding: 20px 0;
}
.form__research i {
  padding: 0 25px;
  font-size: 20px;
}
.form__research--input {
  border: none;
  background-color: #EAEAEA;
  width: 50%;
  font-size: 18px;
  font-weight: 700;
}
.form__research--input:focus {
  outline: none;
}
.form__title {
  width: 80%;
  text-align: center;
}
.form__title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 40px 40px 0 40px;
}
.form__title p {
  font-size: 17px;
  font-weight: 100;
}

.form-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0 35px 0;
}

@media screen and (min-width: 767px) {
  .form__research--input {
    width: 20%;
  }
  .form__title--submit {
    width: 45%;
  }
}
.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}
.steps h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.steps__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.steps__details span {
  background: #9356DC;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 2px;
  position: relative;
  left: 10px;
}
.steps__details--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F7F7F7;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
  width: 90%;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #F7F7F7;
}
.steps__details--item i {
  padding: 5px 10px;
  font-size: 20px;
  color: #7E7E7E;
}
.steps__details--item p {
  padding: 5px 10px;
  font-size: 17px;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  gap: 15px;
  background-color: #F7F7F7;
}
.restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.restaurant__container {
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.restaurant__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: black;
  position: relative;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 8px;
  border-radius: 20px;
}
.restaurant__items img {
  border-radius: 20px 20px 0px 0px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__items span {
  position: absolute;
  right: 5px;
  margin: 10px 5px;
  background-color: #99E2D0;
  color: #008766;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding: 5px;
}
.restaurant__items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 20px;
}
.restaurant__items-container i {
  font-size: 25px;
  margin: 20px;
}
.restaurant__items-container--name {
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.restaurant__items-container--name h3 {
  margin: 0;
}
.restaurant__items-container--name p {
  margin: 5px 0;
}

@media screen and (min-width: 767px) {
  .steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .restaurant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurant__items {
    width: 100%;
  }
}
@media screen and (min-width: 991px) {
  .steps {
    gap: 40px;
  }
  .steps h2 {
    padding: 40px;
  }
  .restaurant__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
  }
}
.banner img {
  height: 245px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.menu {
  background-color: #F7F7F7;
  border-radius: 25px 25px 0px 0px;
  margin-top: -30px;
  position: relative;
}
.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  font-family: "Shrikhand", cursive;
  font-size: 16px;
  font-weight: 400;
}
.menu__title i {
  font-size: 25px;
}

.starter, .main-course, .dessert {
  padding: 10px 0;
}

.starter-menu__title, .dessert-menu__title {
  padding-left: 10px;
}

.starter-menu__title h3, .main-course-menu__title h3, .dessert-menu__title h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 15px;
  margin: 5px 0;
}

.main-course-menu__title {
  padding-left: 40px;
}

.title-decoration {
  background-color: #99E2D0;
  height: 3px;
  width: 37px;
}

@media screen and (min-width: 991px) {
  .menu__title {
    gap: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .menu__container {
    width: 80%;
    margin: auto;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Nhc3MvYmFzZS9fcmVzZXQuc2NzcyIsIi4uL3N0eWxlLmNzcyIsIi4uLy4uL3Nhc3MvY29tcG9zYW50cy9fYnV0dG9ucy5zY3NzIiwiLi4vLi4vc2Fzcy91dGlscy9fbWl4aW5zLnNjc3MiLCIuLi8uLi9zYXNzL2Jhc2UvX3R5cG9ncmFwaHkuc2NzcyIsIi4uLy4uL3Nhc3MvY29tcG9zYW50cy9fY2FyZHMuc2NzcyIsIi4uLy4uL3Nhc3MvY29tcG9zYW50cy9fYW5pbWF0aW9ucy5zY3NzIiwiLi4vLi4vc2Fzcy91dGlscy9fdmFyaWFibGVzLnNjc3MiLCIuLi8uLi9zYXNzL2xheW91dC9faGVhZGVyLnNjc3MiLCIuLi8uLi9zYXNzL2xheW91dC9fZm9vdGVyLnNjc3MiLCIuLi8uLi9zYXNzL2xheW91dC9fZm9ybXMuc2NzcyIsIi4uLy4uL3Nhc3MvcGFnZXMvX2hvbWUuc2NzcyIsIi4uLy4uL3Nhc3MvcGFnZXMvX3BhZ2UtMS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOztFQUVJLFNBQUE7RUFDQSxVQUFBO0VBQ0EsOEJBQUE7VUFBQSxzQkFBQTtFQUNBLGlCQUFBO0FDQ0o7O0FDTkE7RUNDSSxtQkFBQTtFQUNBLGFBQUE7RUFDQSxpQ0NIUTtFRElSLGVBQUE7RUFDQSxZQUFBO0VBQ0EsWUFBQTtFQUNBLG1EQUFBO1VBQUEsMkNBQUE7RUFDQSw4QkFBQTtFQUNBLHFGQUFBO0VBQUEsa0ZBQUE7RURQQSxxQkFBQTtFQUNBLFVBQUE7QURpQko7O0FDZEM7RUNMRyxtQkFBQTtFQUNBLGFBQUE7RUFDQSxpQ0NIUTtFRElSLGVBQUE7RUFDQSxZQUFBO0VBQ0EsWUFBQTtFQUNBLG1EQUFBO1VBQUEsMkNBQUE7RUFDQSw4QkFBQTtFQUNBLHFGQUFBO0VBQUEsa0ZBQUE7RUREQSxVQUFBO0FEeUJKOztBSWpDQTtFRjZGSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDhCQUFBO0VBQUEsNkJBQUE7TUFBQSx1QkFBQTtVQUFBLG1CQUFBO0VBQ0Esc0JBQUE7TUFBQSxtQkFBQTtVQUFBLHFCQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLDhCQUFBO0VBQ0EseUJBQUE7RUFDQSxtQkFBQTtFQUNBLGFBQUE7RUFDQSxZQUFBO0VBQ0EseUJBQUE7RUFDQSxtREFBQTtVQUFBLDJDQUFBO0FGeERKO0FJM0NJO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw0QkFBQTtFQUFBLDZCQUFBO01BQUEsMEJBQUE7VUFBQSxzQkFBQTtBSjZDUjtBSTNDUTtFQUNJLFNBQUE7RUFDQSxjQUFBO0VGc0dSLGlDQy9HUTtFRGdIUixlQUFBO0FGeERKO0FJM0NRO0VBQ0ksU0FBQTtFQUNBLGNBQUE7RUYyRlIsaUNDMUdRO0VEMkdSLGVBQUE7QUY3Q0o7QUkxQ0k7RUFDSSxTQUFBO0VBQ0EsY0FBQTtFQUNBLGlDRHZCSTtFQ3dCSixnQkFBQTtBSjRDUjs7QUtwRUE7RUFDSSx5QkFBQTtBTHVFSjtBS3JFSTtFQUNJLGNDSlE7QU4yRWhCOztBTzNFQTtFQUNJLGdDQUFBO0VBQ0EsbURBQUE7VUFBQSwyQ0FBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0VBQ0EsYUFBQTtBUDhFSjtBTzVFSTtFQUNJLHFCQUFBO0VBQ0EsWUFBQTtFQUNBLFdBQUE7RUFDQSxZQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7QVA4RVI7QU81RVE7RUFDSSxlQUFBO0VBQ0Esa0JBQUE7RUFDQSxVQUFBO0FQOEVaO0FPM0VJO0VBQ0ksVUFBQTtFQUNBLFdBQUE7QVA2RVI7O0FPeEVBO0VBQ0E7SUFDSSxVQUFBO0VQMkVGO0VPeEVGO0lBQ0ksVUFBQTtFUDBFRjtBQUNGO0FROUdBO0VBQ0kseUJBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0VBQ0EsYUFBQTtBUmdISjtBUTlHSTtFQUNJLFVBQUE7QVJnSFI7QVE3R0k7RUFDSSxxQkFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsNEJBQUE7RUFBQSw2QkFBQTtNQUFBLDBCQUFBO1VBQUEsc0JBQUE7RUFDQSxVQUFBO0FSK0dSO0FRN0dRO0VBQ0ksY0FBQTtBUitHWjtBUTdHWTtFQUNJLGNGYkk7RUVjSixxQkFBQTtFQUNBLGlDTHRCSjtBSHFJWjtBUTVHWTtFQUNJLFNBQUE7QVI4R2hCOztBUXhHQTtFQUNJO0lBQ0ksVUFBQTtFUjJHTjtFUXpHRTtJQUNJLFNBQUE7RVIyR047QUFDRjtBU2pKQTtFQUNJLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsNEJBQUE7RUFBQSw2QkFBQTtNQUFBLDBCQUFBO1VBQUEsc0JBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7RUFDQSxpQ05KUTtFTUtSLHlCQUFBO0FUbUpKO0FTakpJO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7RUFDQSx5QkFBQTtFQUNBLFdBQUE7RUFDSixlQUFBO0FUbUpKO0FTakpRO0VBQ0ksZUFBQTtFQUNBLGVBQUE7QVRtSlo7QVNoSlE7RUFDSSxZQUFBO0VBQ0EseUJBQUE7RUFDQSxVQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0FUa0paO0FTL0lRO0VBQ0ksYUFBQTtBVGlKWjtBUzdJSTtFQUNJLFVBQUE7RUFDQSxrQkFBQTtBVCtJUjtBUzdJUTtFUHZCSixpQ0NiUTtFRGNSLGVDWGM7RURZZCxnQkNYZ0I7RU1rQ1Isd0JBQUE7QVRpSlo7QVM5SVE7RUFDSSxlQUFBO0VBQ0EsZ0JBQUE7QVRnSlo7O0FTM0lBO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7RUFDQSxzQkFBQTtBVDhJSjs7QVMzSUE7RUFDSTtJQUNRLFVBQUE7RVQ4SVY7RVMzSUU7SUFDSSxVQUFBO0VUNklOO0FBQ0Y7QVUxTUE7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0VBQ0EsYUFBQTtBVjRNSjtBVTFNSTtFUlFBLGlDQ2JRO0VEY1IsZUNYYztFRFlkLGdCQ1hnQjtBSGdOcEI7QVUzTUk7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDhCQUFBO0VBQUEsNkJBQUE7TUFBQSx1QkFBQTtVQUFBLG1CQUFBO0VBQ0EsMkJBQUE7TUFBQSx3QkFBQTtVQUFBLHFCQUFBO0FWNk1SO0FVM01RO0VSS0osbUJBQUE7RUFDQSxrQkFBQTtFQUNBLFdBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBO0VBQ0EsZUFBQTtFQUNBLGlDQzFCUTtFRDJCUixZQUFBO0VBQ0Esa0JBQUE7RUFDQSxVQUFBO0FGeU1KO0FVcE5RO0VSZUosb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7RUFDQSx5QkFBQTtFQUNBLG1CQUFBO0VBQ0EsbURBQUE7VUFBQSwyQ0FBQTtFQUNBLG1CQUFBO0VBQ0EsVUFBQTtFQUNBLHFCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsaUJBQUE7RUFDQSx5QkFBQTtBRndNSjtBVS9OWTtFQUNJLGlCQUFBO0VBQ0EsZUFBQTtFQUNBLGNBQUE7QVZpT2hCO0FVOU5ZO0VBQ0ksaUJBQUE7RUFDQSxlQUFBO0FWZ09oQjs7QVUxTkE7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0VBQ0EsYUFBQTtFQUNBLFNBQUE7RUFDQSx5QkFBQTtBVjZOSjtBVTNOSTtFUjdCQSxpQ0NiUTtFRGNSLGVDWGM7RURZZCxnQkNYZ0I7QUhzUXBCO0FVNU5JO0VBQ0ksU0FBQTtFQUNKLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsNEJBQUE7RUFBQSw2QkFBQTtNQUFBLDBCQUFBO1VBQUEsc0JBQUE7RUFDQSxXQUFBO0FWOE5KO0FVM05JO0VBQ0ksb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw0QkFBQTtFQUFBLDZCQUFBO01BQUEsMEJBQUE7VUFBQSxzQkFBQTtFQUNBLHFCQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0VSREoseUJBQUE7RUFDQSxtREFBQTtVQUFBLDJDQUFBO0VBQ0EsbUJBQUE7QUYrTko7QVU3TlE7RVJFSixnQ0FBQTtFQUNBLGFBQUE7RUFDQSxvQkFBQTtLQUFBLGlCQUFBO0FGOE5KO0FVOU5RO0VSSUosa0JBQUE7RUFDQSxVQUFBO0VBQ0EsZ0JBQUE7RUFDQSx5QkFBQTtFQUNBLGNBQUE7RUFDQSxpQ0MxRVE7RUQyRVIsZUFBQTtFQUNBLGdCQUFBO0VBQ0EsWUFBQTtBRjZOSjtBVXJPUTtFUnJCSixvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDhCQUFBO0VBQUEsNkJBQUE7TUFBQSx1QkFBQTtVQUFBLG1CQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLDhCQUFBO0VBQ0EseUJBQUE7RUFDQSxtQkFBQTtBRjZQSjtBVTFPWTtFQUNJLGVBQUE7RUFDQSxZQUFBO0FWNE9oQjtBVXpPWTtFQUNJLGlDUDlFSjtFTytFSSxhQUFBO0FWMk9oQjtBVXpPZ0I7RUFDSSxTQUFBO0FWMk9wQjtBVXhPZ0I7RUFDSSxhQUFBO0FWME9wQjs7QVVsT0E7RUFDQTtJQUNJLDhCQUFBO0lBQUEsNkJBQUE7UUFBQSx1QkFBQTtZQUFBLG1CQUFBO0lBQ0EsMkJBQUE7UUFBQSx3QkFBQTtZQUFBLHFCQUFBO0VWcU9GO0VVbE9GO0lBQ0ksNEJBQUE7SUFBQSw2QkFBQTtRQUFBLDBCQUFBO1lBQUEsc0JBQUE7SUFDQSx5QkFBQTtRQUFBLHNCQUFBO1lBQUEsbUJBQUE7RVZvT0Y7RVVsT0U7SUFDSSxXQUFBO0VWb09OO0FBQ0Y7QVVoT0E7RUFDSTtJQUNJLFNBQUE7RVZrT047RVVqT0U7SUFDSSxhQUFBO0VWbU9OO0VVL05GO0lBQ0ksYUFBQTtJQUNBLHFDQUFBO0lBQ0Esb0JBQUE7RVZpT0Y7QUFDRjtBVzNWQTtFQUNJLGFBQUE7RUFDQSxvQkFBQTtLQUFBLGlCQUFBO0VBQ0EsV0FBQTtBWDZWSjs7QVcxVkE7RUFDSSx5QkxIYztFS0lkLGdDQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtBWDZWSjtBVzNWSTtFQUNJLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0oseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLDhCQUFBO0VBQ0EsZUFBQTtFVHVFQSxpQ0FBQTtFQUNBLGVBQUE7RUFDQSxnQkFBQTtBRnVSSjtBVzdWUTtFQUNJLGVBQUE7QVgrVlo7O0FXMVZBO0VBQ0ksZUFBQTtBWDZWSjs7QVcxVkE7RUFDSSxrQkFBQTtBWDZWSjs7QVcxVkE7RVRtRkksaUNDcEhRO0VEcUhSLGdCQUFBO0VBQ0EseUJBQUE7RUFDQSxlQUFBO0VTcEZBLGFBQUE7QVhnV0o7O0FXN1ZBO0VBQ0ksa0JBQUE7QVhnV0o7O0FXN1ZBO0VUaUZJLHlCSXpIYTtFSjBIYixXQUFBO0VBQ0EsV0FBQTtBRmdSSjs7QVcvVkE7RUFDRztJQUNDLFNBQUE7SUFDQSx1QkFBQTtRQUFBLG9CQUFBO1lBQUEsMkJBQUE7RVhrV0Y7RVcvVkU7SUFDSSxVQUFBO0lBQ0EsWUFBQTtFWGlXTjtBQUNGIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */